<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ceph-dashboard</title>
  <link rel="shortcut icon" href="{{ .Prefix }}/static/img/favicon.ico">
  <link href="{{ .Prefix }}/static/css/bootstrap.css" rel="stylesheet">
  <link href="{{ .Prefix }}/static/css/site.css" rel="stylesheet">
{{block "css" . }}{{end}}
</head>
<body>
  <div class="wrap">
    <nav id="navBar" class="navbar-inverse navbar-fixed-top navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Prefix }}/">{{ .ClusterName }}</a>
        </div>
        <div id="navBar-collapse" class="collapse navbar-collapse">
          <ul id="w0" class="navbar-nav navbar-right nav">
            <li class="{{SprintField . "TotalActive"}}"><a href="{{ .Prefix }}/">Status</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{{ .Prefix }}/">Home</a></li>
{{range .Locations}}
        <li class="active"><a href="{{.Href}}">{{.Name}}</a></li>
{{end}}
      </ul>
      <div class="site-index">
        {{block "content" .}}{{ end }}
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p style="width: 80px; margin: auto;">&copy; 2017</p>
    </div>
  </footer>
{{ block "script" . }}{{end}}
</html>
